In [1]:
s = "hello"

In [3]:
d = {1: 'Jan', 2: 'Feb', 3:'Mar', 4:'Apr'}

In [5]:
l_d = [None,'Jan','Feb','Mar']

In [6]:
l_d[1]

'Jan'

In [7]:
d[1]

'Jan'

In [8]:
d = {'Jan': 1, 'Feb':2, 'Mar':3, 'Apr':4}

In [9]:
d['Mar']

3

In [11]:
l_d.index('Mar')

3

In [16]:
d['May'] = 5

In [17]:
d

{'Apr': 4, 'Feb': 2, 'Jan': 1, 'Mar': 3, 'May': 5}

In [18]:
d['Jun']

KeyError: 'Jun'

In [21]:
print(d.get('Jun','?'))

?

In [22]:
d

{'Apr': 4, 'Feb': 2, 'Jan': 1, 'Mar': 3, 'May': 5}

In [25]:
d.setdefault('May',6)

5

In [26]:
d

{'Apr': 4, 'Feb': 2, 'Jan': 1, 'Jun': 6, 'Mar': 3, 'May': 5}

In [27]:
d.keys()

dict_keys(['Mar', 'May', 'Feb', 'Jan', 'Jun', 'Apr'])

In [28]:
d.values()

dict_values([3, 5, 2, 1, 6, 4])

In [29]:
d.items()

dict_items([('Mar', 3), ('May', 5), ('Feb', 2), ('Jan', 1), ('Jun', 6), ('Apr', 4)])

In [34]:
for month in sorted(d):
    print( month, d[month])

Apr 4
Feb 2
Jan 1
Jun 6
Mar 3
May 5

In [33]:
for month, num in d.items():
    print (month, num)

Mar 3
May 5
Feb 2
Jan 1
Jun 6
Apr 4

In [36]:
for num, month in sorted( [(n,m) for (m,n) in d.items()]):
    print(num, month)

1 Jan
2 Feb
3 Mar
4 Apr
5 May
6 Jun

In [39]:
%cd python1

/media/sf_IntroPythonATT/python1

In [41]:
# %load EXAMPLES3/read_into_dict.py
#!/usr/bin/python

with open("DATA/knights.txt") as kn:

    knight_info = {}
    
    for line in kn:
        (name,title,color,quest,comment) = line[:-1].split(":")
        knight_info[name] = [title,color,quest,comment]
    
for name,info_list in knight_info.items():
    print("name:",name,"title:",info_list[0])

name: Lancelot title: Sir
name: Robin title: Sir
name: Gawain title: Sir
name: Arthur title: King
name: Bedevere title: Sir

In [48]:
# %load EXAMPLES3/count_with_dict.py
#!/usr/bin/python

counts = collections.defaultdict(int)

with open("DATA/breakfast.txt") as BR: 

    for breakfast_item in BR:
        breakfast_item = breakfast_item.rstrip()
        counts[breakfast_item] +=1

for item,count in counts.items():
    print(item,count)

eggs 3
spam 10
crumpets 1

In [44]:
import collections

In [45]:
dir(collections)

['AsyncIterable',
 'AsyncIterator',
 'Awaitable',
 'ByteString',
 'Callable',
 'ChainMap',
 'Container',
 'Coroutine',
 'Counter',
 'Generator',
 'Hashable',
 'ItemsView',
 'Iterable',
 'Iterator',
 'KeysView',
 'Mapping',
 'MappingView',
 'MutableMapping',
 'MutableSequence',
 'MutableSet',
 'OrderedDict',
 'Sequence',
 'Set',
 'Sized',
 'UserDict',
 'UserList',
 'UserString',
 'ValuesView',
 '_Link',
 '_OrderedDictItemsView',
 '_OrderedDictKeysView',
 '_OrderedDictValuesView',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_chain',
 '_class_template',
 '_collections_abc',
 '_count_elements',
 '_eq',
 '_field_template',
 '_heapq',
 '_iskeyword',
 '_itemgetter',
 '_proxy',
 '_recursive_repr',
 '_repeat',
 '_repr_template',
 '_starmap',
 '_sys',
 'abc',
 'defaultdict',
 'deque',
 'namedtuple']

In [49]:
months = {'Jan','Feb','Mar','Apr'}

In [50]:
lm = list(months)

In [51]:
lm

['Mar', 'Jan', 'Apr', 'Feb']

In [52]:
lm.append('Apr')

In [53]:
lm

['Mar', 'Jan', 'Apr', 'Feb', 'Apr']

In [54]:
months.add('Apr')

In [55]:
months

{'Apr', 'Feb', 'Jan', 'Mar'}

In [56]:
'Jan' in months

True

In [57]:
'Dec' in months

False

In [58]:
m = set(lm)
m

{'Apr', 'Feb', 'Jan', 'Mar'}

In [59]:
def divide(x,y):
    return y/x

In [60]:
divide(3,5)

1.6666666666666667

In [67]:
def div(denominator,numerator,as_int=False):
    quotient = numerator/denominator
    if as_int:
        return int(quotient)
    return quotient

In [71]:
div(3,5,True)

1

In [70]:
div(numerator=3, denominator=5,as_int=True)

0

In [65]:
divide(x=3,y=5)

1.6666666666666667

In [72]:
def eggs(*args):
    print (args)

In [74]:
eggs(1,2,"fried",'green')

(1, 2, 'fried', 'green')

In [77]:
def spam(**kw):
    print(kw)
    return kw

In [79]:
parms = spam(name='fried',value='eggs',count=5)

{'count': 5, 'name': 'fried', 'value': 'eggs'}

In [123]:
fmtS='{count:d} {name:>10s}'
fmtS.format(**parms)

'5      fried'

In [121]:
'{count:d} {name:>10s}'.format(**parms)

'5      fried'

In [81]:
def from_hell(x,y,d='fred',*args,**kw):
    print('i am alive')

In [82]:
from_hell(1,2)

i am alive

In [99]:
# %load EXAMPLES3/scope.py
#!/usr/bin/python

x = 5

def spam():
	x = 22   # does not set global x
	print("spam(1)",x)
	y = "wolverine"
	print("spam(2)",y)

def eggs():
	global x
	print("eggs(1)",x)
	x = "wolverine"
	print("eggs(2)",x)

spam()
eggs()
print("x is ",x)

spam(1) 22
spam(2) wolverine
eggs(1) 5
eggs(2) wolverine
x is  wolverine

In [118]:
def ham():
    def whoa():
        print( "whoa:",locals())
        print( "whoa:", fred)
    fred = 3
    #print(globals())
    print("ham:",locals())
    whoa()

In [119]:
ham()

ham: {'fred': 3, 'whoa': <function ham.<locals>.whoa at 0x7fe41425bf28>}
whoa: {'fred': 3}
whoa: 3

In [120]:
x = ham()
print(x)

ham: {'fred': 3, 'whoa': <function ham.<locals>.whoa at 0x7fe41425b840>}
whoa: {'fred': 3}
whoa: 3
None