# Chapter 9 - Sorting

In [41]:
%pwd

'/media/sf_IntroPythonATT/python1/DATA'

In [42]:
%cd ../ANSWERS3

/media/sf_IntroPythonATT/python1/ANSWERS3

In [48]:
#
# sorting numbers and strings
#
x = ['0','1','hello','5']
sorted(x)

['0', '1', '5', 'hello']

In [49]:
nm = grades.keys()
nm

dict_keys(['Jedidiah', 'Jeff', 'Sarah'])

In [50]:
sorted(nm)

['Jedidiah', 'Jeff', 'Sarah']

In [51]:
sorted(nm,key=len)

['Jeff', 'Sarah', 'Jedidiah']

In [52]:
grades.items()

dict_items([('Jedidiah', 99), ('Jeff', 70), ('Sarah', 93)])

In [53]:
sorted(grades.items())

[('Jedidiah', 99), ('Jeff', 70), ('Sarah', 93)]

In [54]:
def by_grade(tpl):
    return tpl[1]

In [55]:
by_grade( ('Jeff',70))

70

In [57]:
sorted(grades.items(),key=by_grade)

[('Jeff', 70), ('Sarah', 93), ('Jedidiah', 99)]

In [58]:
str.lower('Jeff')

'jeff'

In [59]:
sorted(nm,key=by_grade)

['Sarah', 'Jedidiah', 'Jeff']

In [61]:
sorted(grades.items(),key=lambda tpl: tpl[1])

[('Jeff', 70), ('Sarah', 93), ('Jedidiah', 99)]

In [62]:
grades = {}
with open('../DATA/testscores.dat') as fp:
    for line in fp:
        nm, score = line[:-1].split(':')
        grades[nm] = int(score)

In [63]:
grades

{'Anger, Darol': 95,
 'Brown, Alison': 45,
 'Burns, Jethro': 86,
 'Bush, Sam': 87,
 'Fleck, Bela': 88,
 'Klein, Moondi': 81,
 'Marshall, Mike': 56,
 'McMasters, Natalie': 97,
 'Monroe, Bill': 88,
 'Nevins, Tara': 72,
 "O'Brien, Tim": 92,
 'Phillips, Todd': 98,
 'Rice, Tony': 77,
 'Rowan, Peter': 95,
 'Scott, Darrel': 91,
 'Thiele, Chris': 76,
 'Watson, Doc': 91,
 'Wooten, Victor': 99}

In [64]:
def by_first(tpl):
    nm = tpl[0]
    last, first = nm.split(',')
    return first.strip()

In [65]:
sorted(grades.items(),key=by_first)

[('Brown, Alison', 45),
 ('Fleck, Bela', 88),
 ('Monroe, Bill', 88),
 ('Thiele, Chris', 76),
 ('Anger, Darol', 95),
 ('Scott, Darrel', 91),
 ('Watson, Doc', 91),
 ('Burns, Jethro', 86),
 ('Marshall, Mike', 56),
 ('Klein, Moondi', 81),
 ('McMasters, Natalie', 97),
 ('Rowan, Peter', 95),
 ('Bush, Sam', 87),
 ('Nevins, Tara', 72),
 ("O'Brien, Tim", 92),
 ('Phillips, Todd', 98),
 ('Rice, Tony', 77),
 ('Wooten, Victor', 99)]

In [66]:
import operator

In [71]:
f=operator.itemgetter(2,1)
f( ('George','','Washington'))

('Washington', '')

In [73]:
for x in grades.iteritems():
    print(x)

AttributeError: 'dict' object has no attribute 'iteritems'

In [75]:
import sys
sys.version

'3.5.2 |Anaconda 4.1.1 (64-bit)| (default, Jul  2 2016, 17:53:06) \n[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]'

In [77]:
# %load ex9-2.py
#!/usr/bin/python

a_lines = []
b_lines = []

with open("../DATA/alt.txt") as f_in:
    for line in f_in:
        if line.startswith('a'):
            a_lines.append(line)
        elif line.startswith('b'):
            b_lines.append(line)

with open("a_sorted.txt","w") as a_out:
    a_out.writelines(sorted(a_lines))

with open("b_sorted.txt","w") as b_out:
    b_out.writelines(sorted(b_lines,reverse=True))